<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Recognition Application</title>
</head>
<body>
    <h1>Text Recognition Application</h1>
    <form action="/" method="post">
        <p>Please upload the text: </p>
        <p><input type="text" name="Text"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <p>Polarity = {{result.polarity}}</p>
    <p>Subjectivity = {{result.subjectivity}}</p>
</body>
</html>